*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form{
  width: 37%;
  height: 500px; ;
  box-shadow:0px 5px 10px grey ;
  margin: 100px auto;
  border-radius: 10px; 
  padding:15px;
}
h1{
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
  color: 0,0,0,0,6;
  margin-bottom: 10px;
}
hr{
  border: none;
  border-top: 0.5px solid #ccc;
}
#firstname,#surname{
  border: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  width: 49%;
  margin-top: 10px;
  background-color: #f5f6f7;
}
#email,#password{
  border: none;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 5px;
  width: 99%;
  margin-top: 10px;
  background-color: #F5F6F7;
}
#f_warning{
  width: 30px;
  position: absolute;
  left: 47.4%;
  top: 200px;
  display: none;
}
#fhint{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 160px;
  left: 330px;
  display: none;
}
input:focus{
  outline:none;
}
#password_hint
{
 width: 99%;
 height: 80px;
 border: 1px solid black;
 padding: 10px;
 display: none;
 cursor: pointer;
}
#password_hint:hover{
  background-color: #ddd;
}
#password{
  margin-bottom: 10px;
}
#s_pass
{
  font-family: sans-serif;
  font-size: 13px;
  color: green;
}
#submit{
  width: 120px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}